<!DOCTYPE html>
<html>
<head>
	<title>guaranTea</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

	<div class="container">

{{!-- error message --}}
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
        </div>
      </div>

     
      <ul>
      <li><a href="/">Home</a></li> 
      <li><a href="default.asp">Intro</a></li>
      <li><a href="/teas">Menu</a></li>
      <li><a href="contact.asp">Contact</a></li>
      {{#if user}}
      <li style="float:right"><a class="active" href="/users/logout">Logout</a></li>
      {{!-- <li style="float:right"><a class="active" href="/users/register">Dashboard</a></li> --}}
      {{else}}
      <li style="float:right"><a class="active" href="/users/login">Login</a></li>
      <li style="float:right"><a class="active" href="/users/register">Register</a></li>
      {{/if}}
    </ul>

      {{{body}}}

      <footer class="footer">
        <p>&copy; 2017 GuaranTea, Inc.</p>
      </footer>

    </div> 
</body>
</html>
