    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
{{!-- header --}}
<ul>
    <li><a href="/">Home</a></li> 
    <li style="float:right"><a class="active" href="/users/logout">Logout</a></li>
</ul>
<div class="container">
    </br>
    <h2>Account Information</h2>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </thead>
       
        <tr>
        {{#if user}}    
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
        {{/if}}
        </tr>
        <tr>
            <td><a href="/teas/{{id}}/edit" type="button" class="btn btn-default btn-warning">
                Edit
            </a></td>
            <td><a href="/teas/{{id}}/delete" type="button" class="btn btn-default btn-danger">
                Delete Account
            </a></td>
        </tr>
    </table>
</div>

