    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
{{!-- header --}}
<ul>
    <li><a href="/">Home</a></li> 
    {{!-- <li><a href="default.asp">Intro</a></li>
    <li><a href="/teas">Menu</a></li>
    <li><a href="contact.asp">Contact</a></li> --}}
    {{#if user}}
    <li style="float:right"><a class="active" href="/users/logout">Logout</a></li>
    {{!-- <li style="float:right"><a class="active" href="/users/register">Dashboard</a></li> --}}
    {{else}}
    <li style="float:right"><a class="active" href="/users/login">Login</a></li>
    <li style="float:right"><a class="active" href="/users/register">Register</a></li>
    {{/if}}
</ul>
<div class="container">
    
     {{!-- {{#if tea}} <h2>Edit Order</h2> --}}
     {{!-- {{else}}  --}}
     {{!-- <h2>New Order</h2> --}}
     {{!-- {{/if}}  --}}
    {{!-- <form method="post" {{#if tea}} action="/teas/{{tea._id}}" {{/if}}> --}}
    {{!-- <form method="post" action="/orders/">   
        <div class="form-group">
            <label>Choose your tea</label>
            <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
            </select>
            <input type="" class="form-control" name="teaname" {{#if tea}} value="{{tea.teaname}}" {{/if}} required>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" name="price" {{#if tea}} value="{{tea.price}}" {{/if}}required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        
    </form>
    </br> --}}
    {{!-- {{#if tea}}
    {{else}} --}}
    <h2>Place Your Order</h2>
    <form method="post" action="/orders/">
    <table class="table table-striped">
        <thead>
            <th>Tea Name</th>
            <th>Price</th>
            <th colspan="2">Quantity</th>
        
        </thead>
        {{#teas}}
            <tr>
                <td>{{teaname}}</td>
                <td>{{price}}</td>
                <td><input type="number" name="quantity" min="1" max="10"></td>
                    {{!-- <td><a href="/teas/{{id}}/edit" type="button" class="btn btn-default btn-warning">
                        Edit
                    </a></td>
                    <td><a href="/teas/{{id}}/delete" type="button" class="btn btn-default btn-danger">
                        Delete
                    </button></a> --}}
                 </tr>
        {{/teas}}
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form> 
    {{!-- {{/if}} --}}
</div>

