<div class="container">
    
     {{#if tea}} <h2>Update Item</h2>
     {{else}} <h2>Add Item</h2>
     {{/if}} 
    <form method="post" {{#if tea}} action="/teas/{{tea._id}}" {{/if}}>
        
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" name="teaname" {{#if tea}} value="{{tea.teaname}}" {{/if}} required>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" name="price" {{#if tea}} value="{{tea.price}}" {{/if}}required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        
    </form>
    </br>
    {{#if tea}}
    {{else}}
    <h2>All Items</h2>
    <table class="table table-striped">
        <thead>
            <th>Tea Name</th>
            <th>Price</th>
            <th colspan="2">Actions</th>
        
        </thead>
        {{#teas}}
            <tr>
                <td>{{teaname}}</td>
                <td>{{price}}</td>
                    <td><a href="/teas/{{id}}/edit" type="button" class="btn btn-default btn-warning">
                        Edit
                    </a></td>
                    <td><a href="/teas/{{id}}/delete" type="button" class="btn btn-default btn-danger">
                        Delete
                    </button></a>
                 </tr>
        {{/teas}}
    </table>
    {{/if}}
</div>

